body {
  font-family: Arial;
  padding: 10px;
}

h1, h2 {
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

.plot {
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}
